<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>tEST RECEIVE EVENTS</h2>
	<div id="messages"></div>

<script type="text/javascript">
	var messagesDiv = document.getElementById("messages");

	var source = new EventSource("{{ url_for('sse.stream') }}");
source.addEventListener('greeting', function(event) {
    var data = JSON.parse(event.data);
    console.log(data);
    messagesDiv.append(data["message"]);
    // do what you want with this data

}, false);
</script>
</body>

</html>